.footer__photoRND {
  background-image: url(../../../images/rnd/rnd8.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1100px;
  height: 740px;
  background-position: center;
  display: flex;
  justify-content: center;
}
